#largescreendiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.activee {
    background-color: #EFEAEA;
    padding: 2px 0;
    margin-bottom: 5px;
}
#largescreencoursediv {
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-items: start;
}

#largescreendiv_b {
    margin-top: 20px;
    margin-bottom: 30px;
    /* margin-left: auto; */
    /* width: auto; */
    padding: 10px;
    margin-left: 50px;
    /* border: 1px solid red; */
}

#largescreendiv_a {
    padding-bottom: 20px;
    margin: 20px 0;
    height: 100%;
    width: 300px;
    /* margin-right: 100px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    position: sticky;
    top: 70px;
    text-align: start;
}

#largescreendiv_a li:hover {
    background-color: #efeaea9f;
}

#largescreendiv>#largescreendiv_a>li {
    width: 95%;
    margin: auto;
}

#largescreendiv>#largescreendiv_a>#largescreendiv_a_title {
    font-weight: bold;
    color: #6A1B1B;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 2px solid #6A1B1B;
    ;
}

#largescreendiv_a .activee {
    background-color: #ede5e5;

}


#largescreencoursecardparentdiv {
    height: auto;
    width: 300px;
    margin: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#largescreendiv_a li {
    width: 100%;
    font-size: large;
    padding: 7px 0px;
    padding-left: 15px;
}

#largescreendiv_a li>p {
    display: flex;
    justify-content: space-between;
    border-left: 2.5px solid #6A1B1B;
    padding-left: 5px;
}

#largescreendiv ul li:hover {
    cursor: pointer;
}

#largescreensubbuttondiv {
    display: flex;
}

#largescreensubbuttondiv>li {
    margin: 5px 10px;
}

#coursediv{
    transition: max-height 0.2s ease-out;
}
#coursecardparentdiv {
    /* border: 1px solid red; */
    width: 300px;
    height: auto;
    margin: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#smallscreendiv {
    display: none;
}

.active {
    opacity: 1;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #fff;
    /* Adjust color as needed */
}

@media only screen and (max-width: 780px) {
    #smallscreendiv {
        width: 100%;
        display: block;
        text-align: center;
    }
    #smallscreendiv>ul{
        width: 100%;
    }
    #smallscreendiv>ul>li ,#smallscreendiv>ul>h1{
        width: 100%;
    }
    #smallscreendiv>ul>li>p{
        font-size:1.1rem;
        font-weight:600;
        margin: 2px auto;
        text-align: center;
        width: 80%;
        display: flex;
        justify-content:space-between;
    }
    #largescreendiv {
        display: none;
    }
    #subdiv{
        margin: 4px auto;
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #subdiv>li{
        margin: 5px 0;
        width: 50%;
    }
    #subdiv>li>p {
        margin:0 auto;
        width: 60%;
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    #leftnav {
        display: none;
    }
    #coursediv {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        border-right: 8px solid white;
        border-left: 8px solid white;
        padding-left: 10px;
    }
}


@media only screen and (min-width:300px) {
    #largescreendiv_a {
        width: 200px;
    }

    #largescreendiv_b {
        width: 500px;
    }
    #coursediv {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
        overflow-x: scroll;
        column-gap: 15px;
        overflow-y: hidden;
        white-space: nowrap;
    }
}

@media only screen and (min-width:700px) {
    #largescreendiv_a {
        width: 220px;
        margin-left: 15px;
    }

    #largescreendiv_b {
        padding: 0;
        margin-left: 15px;
        margin-right: 10px;
        width: 590px;
    }

    #largescreendiv {
        width: 100%;
    }

    #largescreencoursediv {
        column-gap: 15px;
        row-gap: 15px;
    }
}

@media only screen and (min-width:1100px) {
    #largescreendiv_b {
        margin-left: 50px;
        /* width: 1030px; */
        width: 800px;
    }

    #largescreendiv_a {
        width: 300px;
    }

    #largescreencoursediv {
        column-gap: 30px;
        row-gap: 30px;
    }
}

@media only screen and (min-width:1600px) {
    #largescreendiv_b {
        width: 1100px;
    }
    #largescreencoursediv {
        column-gap: 40px;
        row-gap: 40px;
    }
}

@media only screen and (min-width:2000px) {
    #largescreendiv_b {
        width: 1450px;
    }
    #largescreencoursediv {
        column-gap: 40px;
        row-gap: 40px;
    }

}
