#largescreendiv>ul>li{
    width:300px;
    background-color: aquamarine;
    margin: 10px 0;
    padding: 5px;
}

#largescreensubbuttondiv{
    display: flex;
}
#largescreensubbuttondiv>button{
    width: 120px;
    background-color: aquamarine;
    margin: 5px 10px;
}

#smhiddenbutton{
    display: none;
}
#coursediv{
    margin-left: 300px;
    margin-top: -260px;
    display: flex;
    flex-wrap: wrap;
}
#coursecardparentdiv{
    border: 1px solid red;

    width: 300px;
    padding: 15px;
    margin: 15px;
}
#smallscreendiv{
    display: none;
}


@media only screen and (max-width: 600px) {
    #largescreendiv{
        display: none;
    }
    #smallscreendiv{
        display: flex;
        flex-wrap: wrap;
    }
    #leftnav{
        display: none;
    }
    #smhiddenbutton{
        display: block;
        width: 100%;
    }
    #smhiddenbutton>button{
        width:100%;
        min-width:10em;
        background-color: rgb(184, 181, 181);
        
        margin:10px 0;
        padding: 10px;
    }
    #coursediv{
        width: 100%;
        /* min-width: 350px; */
        margin-left: 0;
        margin-top: 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
  }