#largescreendiv{
    display: flex;
    flex-wrap: nowrap;
    width: 95%;
    margin: 0 auto;
}
#largescreendiv_a{
    margin: 20px 0;
    height: 100%;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    text-align: start;
}

#largescreendiv_b{
    margin-top: 20px;
    margin-left: auto;
    width: auto;
    padding:10px;
    /* border: 1px solid red; */
}
#largescreencoursecardparentdiv{
    height: auto;
    width:300px;
    margin: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}#largescreendiv>ul>li{
    width:100%;
    font-size: large;
    padding: 7px 0px;
    padding-left: 15px;
} 
/* #largescreendiv>ul>li>p{
    width: 90%;
    padding: 5px;
    border-radius: 6px;
}   */
#largescreensubbuttondiv{
    display: flex;
}
#largescreensubbuttondiv>button{
    width: 120px;
    background-color: aquamarine;
    margin: 5px 10px;
}

#smhiddenbutton{
    display: none;
}
#largescreencoursediv{
    background-color: white;
    width: 100%;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: auto auto auto;

    /* border: 1px solid yellow; */
}
/* #coursediv{
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
} */
#coursecardparentdiv{
    /* border: 1px solid red; */
    width:300px;
    height: auto;
    margin: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#smallscreendiv{
    display: none;
}


@media only screen and (max-width: 710px) {
    #largescreendiv{
        display: none;
    }
    #smallscreendiv{
        display: flex;
        flex-wrap: wrap;
    }
    #leftnav{
        display: none;
    }
    #smhiddenbutton{
        display: block;
        width: 100%;
    }
    #smhiddenbutton>button{
        width:100%;
        min-width:10em;
        background-color: rgb(184, 181, 181);
        
        margin:10px 0;
        padding: 10px;
    }
    #coursediv{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
  }