/* Carousel.module.css */

.carouselContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .slideWrapper {
    display: flex;
    transition: transform 0.5s ease; /* Animation for smooth sliding transition */
  }
  
  .slide {
    flex: 0 0 33.33%; /* 3 slides visible at one time */
    box-sizing: border-box;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease; /* Animation for smooth fade-in/fade-out transition */
  }
  
  .slide h2 {
    margin-bottom: 10px;
  }
  
  .slide iframe {
    width: 100%;
    height: 100%;
  }
  
  .slide button {
    margin-top: 10px;
  }
  
  .active {
    opacity: 1;
  }
  
  /* Responsive styles */
  @media (max-width: 991px) {
    .slide {
      flex: 0 0 100%; /* 1 slide visible on smaller screens */
    }
  }
  